/* -----menu--------- */
ul li {
    display: inline-block;
    /* padding: 30px; */
}

#menu a {
    font-style: unset;
    color: black;
    padding: 30px 60px;
    /* a je radkovy takze jen ze stran */
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

a:hover,
a:focus,
a:active {
    background-color: yellow;
}

#menu {
    width: 100%;
    display: inline-block;
    background-color: rgb(249, 250, 178);
    ;
    text-align: center;
    margin: 0;
    padding: 0px;
}


/*--------- main part ----------*/

#caleandar {
    width: 100%;
    padding-left: 30%;
    padding-top: 5%;
    font-family: Calibri, sans-serif;
    /* background-color: rgb(5, 3, 1); */
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
    display: block;
    margin-left: auto;
    margin-right: center;
    margin-top: auto;
}

#form {
    display: inline-block;
    margin: 50px;
}

body {
    background-color: rgb(34, 34, 36);
}

#newEventForm {
    visibility: hidden;
}

.cld-day.nextMonth:focus,
.cld-day.nextMonth:active,
.cld-day.prevMonth:active {
    cursor: pointer;
    border: 2px solid chocolate;
    background-color: burlywood;
}

.cld-day.currMonth:focus,
.cld-day.currMonth:active {
    cursor: pointer;
    border: 2px solid rgb(253, 208, 6);
    background-color: burlywood;
}

#newEventForm {
    position: absolute;
    margin: auto;
    padding-top: 10%;
    padding-left: 41.5%;
}

.form-item-input {
    width: 300px;
    height: 100px;
    border: 3px solid yellow;
    background-color: rgba(249, 250, 178, 0.9);
}


/* -------styl pro tisk ------------------*/
@media print {
    
    body{
        background-color: white;
        width: 100%; 
        margin: 0; 

    }
    #caleandar{
        color:black;
        margin-left: 0em;
    }
    #menu{
        display: none !important;
    }
   
}