.cld-main {
    width: 660px;
}

.cld-datetime {
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.cld-datetime .today {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}

.cld-nav {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cld-nav:hover {
    cursor: pointer;
}

.cld-nav:hover svg {
    fill: yellow;
}

.cld-rwd {
    float: left;
}

.cld-fwd {
    float: right;
}

.cld-nav svg:hover {}

.cld-labels,
.cld-days {
    padding-left: 0;
}

.cld-label,
.cld-day {
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.cld-day {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 66px;
    border: 1px solid #ddd;
    overflow-y: auto;
}

.cld-day.clickable:hover {
    cursor: pointer;
}

.cld-day.today {
    border: 1px solid yellow;
}

.cld-day.disableDay {
    opacity: 0.5;
}

.cld-day.nextMonth,
.cld-day.prevMonth {
    opacity: 0.33;
}

.cld-number {
    margin: 0;
    text-align: left;
}

.cld-title {
    font-size: 10px;
    display: block;
    margin: 0;
    font-weight: normal;
    color: yellow;
}

.cld-day:hover {
    background: #eee;
}

.cld-number.eventday {
    font-weight: bold;
}

.cld-number.eventday:hover {
    background: #eee;
}

.today .cld-number.eventday:hover {}

.btn:hover {
    background: #eee;
}

.btn {
    border: none;
    /* background-color: inherit; */
    background-color: wheat;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
}


/* .textClass{   
        color:red;
        background-color: royalblue;
      } */