img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 34%;
    margin-right: auto;
    margin-top: 4%;
  }
  body{
    /* background-color: rgb(49, 49, 56); */
    background-image: repeat-0;
    background-image: radial-gradient(circle, rgb(110, 109, 109) 1%,rgb(49, 49, 56),rgb(49, 49, 56), rgb(49, 49, 56) 100%);
  }