body{
    background: linear-gradient( yellow,rgb(252, 252, 251));
    background-repeat: repeat-x;
    padding: 11%;
}
.form {
    display: inline-block;
    width: 100%;
    max-width: 33%;
    padding: 25px;
    margin-left: 33%;
    /* background: palegoldenrod; */
}
.form-title {
    margin: 0 100px 20px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}
.form-item {
    display: block;
    margin-top: 8px;
    width: 40%;
    margin-left: 25%;
}
.form-item-text {
    display: block;
}
.form-item-input {
    box-sizing: border-box;
    display: block;
    padding: 0.5em 0;
    width: 100%;
    margin-top: 4px;
    background-color: rgba(228, 226, 106, 0.3);
    border-color: black;
    /* border-bottom: black; */
}
.form-submit {
    width: 30%;
    margin-top: 2em;
    margin-left: 31%;
    padding: 1em;
    background: rgba(173, 172, 76, 0.3);
    color:black;
    font-style: italic;
    font-size: 15px;
}
.error {
    margin-top: 16px;
    padding: 0.5em 1em;
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 0.8);
}

[hidden] {
    display: none;
}