header {
    background-size: cover;
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/~pasicmar/images/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg");
    margin: 0vmin;
}

header h1 {
    text-align: center;
    font-family: 'Italianno';
    font-style: italic;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    color: yellow;
    margin: 0vmin;
}

body {
    margin: 0px;
}

ul li {
    display: inline-block;
    /* padding: 30px; */
}

#menu a {
    font-style: unset;
    color: white;
    padding: 30px 60px;
    /* a je radkovy takze jen ze stran */
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

a:hover,
a:focus,
a:active {
    background-color: rgb(14, 14, 109);
}

#menu {
    width: 100%;
    display: inline-block;
    background-color: navy;
    text-align: center;
    margin: 0;
    padding: 0px;
}

img {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    padding: 20px;
    float: left;
}


/* .mainPart{
    margin: 20px;
    font-style: oblique;
    font-size: 50px;
} */

#popis {
    padding: 20px;
    font-style: oblique;
    font-size: 22px;
    line-height: 2;
    font-family: 'Dancing Script', cursive;
}

#contacts a {
    float: none;
    color: teal;
}